.header-add-event {
    background-color: rgba(65, 158, 189, 1);
    text-decoration: none;
    border: none;
    border-radius: 12px;
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;

}