.header {
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    vertical-align: middle;
}

.place {
    margin-left: 5%;
    margin-top: -2%;
}

.items {
    display: flex;
    justify-content: end;
    width: 70%;
    background-color: red;
    vertical-align: middle;
}

.left-menu {
    width: 30%;
    display: flex;
    background-color: yellow;
}